<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://cawaopenaiweb.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourcegroups/OpenAIWebApp/providers/Microsoft.ContainerRegistry/registries/OutputCacheDallESample20230820162907</ContainerResourceId>
    <ContainerResourceName>OutputCacheDallESample20230820162907</ContainerResourceName>
    <Subscription>Catherine Microsoft Demo Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>outputcachedallesample20230820162907.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/OpenAIWebApp/providers/Microsoft.Web/sites/cawaopenaiweb</ResourceId>
    <ResourceGroup>OpenAIWebApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cawaopenaiweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4ee39425-0641-4865-8472-62d31144525a</ProjectGuid>
  </PropertyGroup>
</Project>